.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon > * {
  line-height: 1;
}

.anticon svg {
  display: inline-block;
}

.anticon::before {
  display: none;
}

.anticon .anticon-icon {
  display: block;
}

.anticon[tabindex] {
  cursor: pointer;
}

.anticon-spin::before,
.anticon-spin {
  display: inline-block;
  -webkit-animation: loadingCircle 1s infinite linear;
  animation: loadingCircle 1s infinite linear;
}

@-webkit-keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.eEPviq {
    border: none;
    color: rgb(68, 68, 68);
    background: rgb(233, 234, 237);
    transition: all 0.5s ease 0s;
    font-size: 18px;
    width: 100%;
    padding: 15px 0px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
}

@media (max-width: 768px)
.eEPviq {
    font-size: 16px;
    padding: 12px 0px;
}
.OHNdu {
    position: relative;
    width: 500px;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    overflow-y: auto;
    /* border-radius: 8px; */
}
.jvrGcO {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
}
.hARKVj {
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    /* padding: 10px 0px 10px; */
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(226, 226, 226);
    background-color: #3375bb!important;
}
.gdtVXy {
    width: 180px;
}
.eNdDTk {
    width: 150px;
}
.kFZWwp {
    font-family: Gilroy, sans-serif;
    background-color: #F6F6F6;
    font-size: 0.9rem;
    color: rgba(127, 127, 127, 0.85);
}
.cDnNqw .ant-input-affix-wrapper {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 226) !important;
}
.cDnNqw input.ant-input, .cDnNqw .ant-select-selection {
    font-size: 1rem;
    font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;
    /* line-height: 140%; */
    font-style: normal;
    font-weight: normal;
    /* height: 190px; */
    /* width: 495px; */
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    background-color: #fff;
    padding: 12px;
}
.fWmldN {
    color: rgb(255, 255, 255);
    border: none;
    transition: all 0.5s ease 0s;
    font-size: 18px;
    width: 100%;
    padding: 15px 0px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-top: 2.75rem;
    margin-bottom: 20px;
    background-color: #3375bb!important;
}
.iZNmqq {
    color: rgb(39, 52, 152);
    width: 100%;
    font-size: 16px;
    margin-bottom: 60px;
    text-align: left;
}
.import-account__secret-phrase {
    /*font-size: 1rem;*/
    /*font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;*/
    /* line-height: 140%; */
    font-style: normal;
    font-weight: normal;
    height: 140px;
    width: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    background-color: #fff;
    padding: 12px;
}
.thepadding {
    padding: 0px 35px 0px;
}
.barnerd {
    background-color: #3375bb!important;
}

button[disabled], input[type=submit][disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon > * {
  line-height: 1;
}

.anticon svg {
  display: inline-block;
}

.anticon::before {
  display: none;
}

.anticon .anticon-icon {
  display: block;
}

.anticon[tabindex] {
  cursor: pointer;
}

.anticon-spin::before,
.anticon-spin {
  display: inline-block;
  -webkit-animation: loadingCircle 1s infinite linear;
  animation: loadingCircle 1s infinite linear;
}

@-webkit-keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.eEPviq {
    border: none;
    color: rgb(68, 68, 68);
    background: rgb(233, 234, 237);
    transition: all 0.5s ease 0s;
    font-size: 18px;
    width: 100%;
    padding: 15px 0px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
}

@media (max-width: 768px)
.eEPviq {
    font-size: 16px;
    padding: 12px 0px;
}
.OHNdu {
    position: relative;
    width: 500px;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    overflow-y: auto;
    /* border-radius: 8px; */
}
.jvrGcO {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
}
.hARKVj {
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    /* padding: 10px 0px 10px; */
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(226, 226, 226);
    background-color: #3375bb!important;
}
.gdtVXy {
    width: 180px;
}
.eNdDTk {
    width: 150px;
}
.kFZWwp {
    font-family: Gilroy, sans-serif;
    background-color: #F6F6F6;
    font-size: 0.9rem;
    color: rgba(127, 127, 127, 0.85);
}
.cDnNqw .ant-input-affix-wrapper {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 226) !important;
}
.cDnNqw input.ant-input, .cDnNqw .ant-select-selection {
    font-size: 1rem;
    font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;
    /* line-height: 140%; */
    font-style: normal;
    font-weight: normal;
    /* height: 190px; */
    /* width: 495px; */
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    background-color: #fff;
    padding: 12px;
}
.fWmldN {
    color: rgb(255, 255, 255);
    border: none;
    transition: all 0.5s ease 0s;
    font-size: 18px;
    width: 100%;
    padding: 15px 0px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-top: 2.75rem;
    margin-bottom: 20px;
    background-color: #3375bb!important;
}
.iZNmqq {
    color: rgb(39, 52, 152);
    width: 100%;
    font-size: 16px;
    margin-bottom: 60px;
    text-align: left;
}
.import-account__secret-phrase {
    /*font-size: 1rem;*/
    /*font-family: Euclid, Roboto, Helvetica, Arial, sans-serif;*/
    /* line-height: 140%; */
    font-style: normal;
    font-weight: normal;
    height: 140px;
    width: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    background-color: #fff;
    padding: 12px;
}
.thepadding {
    padding: 0px 35px 0px;
}
.barnerd {
    background-color: #3375bb!important;
}

button[disabled], input[type=submit][disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}